.Meanings h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
}

.meaning p {
  font-size: 14px;
  color: #000;
}

.Meanings .example {
  font-style: italic;
  color: #7b00ff;
  opacity: 0.7;
  margin-top: 10px;
}
